.notFound {
    text-align: center;
    img {
        width: 400px;
    }
    h1 {

        margin-bottom: 100px;
        font-size: 30px;
        color: red;
        font-weight: bold;
        text-align: center;
    }
    div {
        margin-top: 50px;
        font-size: larger;
        font-weight: bold;
    }
}